@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
    --mk-main: #453776;
    --mk-main-sec: #9B278F;
    --mk-white: #fff;
    --text-color: #4d5b67;
}

body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro, Arial;
    font-size: 16px;
    font-weight: 400;
    scrollbar-width: thin;
    scrollbar-color: var(--mk-main);
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--mk-main);
        border-radius: 20px;
    }
}

img {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: var(--text-color);
}
